
ACForms.Web/appsettings.Certification.json
ACForms.web/appsettings.Development.json
ACForms.Registration/
ACForms.UiPath/
ACForms.Web/bin
ACForms.Web/obj
ACForms.Web/processors
ACForms.Web/ACForms.Web.csproj
ACForms.Web/ACForms.Web.csproj.user
ACForms.Web/Program.cs
*.suo
.vs/
