.section-list {
  flex: 1;
  padding: 0;
}

.form-content {
  flex: 4;
  height: 100%;
}

h1 {
  text-align: center;
  color: #042C54;
}

.section-title {
  margin: 2rem 0 0 0.5rem;
}

hr {
  margin: 0;
  padding: 0;
}

.stepper-nav > button {
  margin-right: 0.5em;
}
