.section-title {
    margin: 1rem 0 0 0.5rem;
}

.section-subtitle {
    margin: 0 0 0 0.5rem;
    font-size: small;
}

hr {
    margin: 0;
    padding: 0;
}

.question {
    padding: 0.5rem;
}

.questions {
    margin: 1rem 0.5rem;
}

.odd {
    background-color: aliceblue;
}
