<div class="row">
    <mat-form-field appearance="fill">
        <mat-label>Diagnosis</mat-label>
        <input type="text" matInput [(ngModel)]="diagnosis" />
    </mat-form-field>
</div>
<div class="row">
    <label class="col-form-label col-sm-3">Status</label>
    <div class="col-sm-9">
        <mat-radio-group class="question-radio-group" *ngFor="let option of options; let i = index"
            [(ngModel)]="status">
            <mat-radio-button class="question-radio-button" [name]="key+i" [value]="option">
                {{option}}
            </mat-radio-button>
        </mat-radio-group>
        <!-- 
        <div class="form-check" *ngFor="let option of options; let i = index">
            <input class="form-check-input" type="radio" [(ngModel)]="status" [name]="key+i" [value]="option">
            <label class="form-check-label" [for]="key+i">
                {{option}}
            </label>
        </div> -->
    </div>
</div>
