<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Relationship</mat-label>
    <input type="text" matInput [(ngModel)]="relationship" />
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Diagnosis</mat-label>
    <input type="text" matInput [(ngModel)]="diagnosis" />
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Age when diagnosed</mat-label>
    <input type="text" matInput [(ngModel)]="age" />
  </mat-form-field>
</div>
